body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  overflow-x: hidden;
}

/*
  NAVBAR STYLES
  */
.header {
  background: url("/assets/images/services/Black & White 2.png") center/cover no-repeat;
  position: relative;
  z-index: 1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(95%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgb(255, 255, 255)), to(transparent));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 95%, rgb(255, 255, 255) 100%, transparent);
}

/*
  HERO SECTION STYLES
  */
.hero-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-section h1 {
  font-size: 3.5rem;
  margin-top: 5rem;
}

/*
Services section styles
*/
.services img {
  width: 200px;
  margin: 0 auto;
  aspect-ratio: 27/16;
}

.card-title {
  font-family: "Cario Bold", sans-serif;
  text-align: center;
}

.custom-card-styles-top-section {
  border-radius: 30px;
  max-width: 400px;
  height: 400px;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  width: 100%;
  margin: 0 auto;
  background-color: #fbfafa;
}

.custom-card-styles {
  background-color: #f5f5f5;
  border-radius: 30px;
  min-height: 526px !important;
  width: 90%;
  border: none;
  -webkit-box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.1);
}

.list-card {
  z-index: -1;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
  border-radius: 0px 0px 30px 30px;
}
.list-card ol {
  list-style: decimal;
}
.list-card ol li {
  font-family: "Cairo Regular", sans-serif;
  margin-block: 1rem;
}

.gold-color {
  color: #b19e7f;
}

/*
ask-for-service-section
*/
.ask-for-service-section {
  background-color: #f5f5f5;
  width: 100%;
}
.ask-for-service-section .ask-for-service-card {
  background: rgb(0, 0, 0);
  background-image: linear-gradient(45deg, hsl(45, 2%, 82%) 0%, hsl(45, 2%, 85%) 17%, hsl(45, 2%, 88%) 33%, hsl(45, 2%, 91%) 50%, hsl(45, 2%, 94%) 67%, hsl(45, 2%, 97%) 83%, hsl(0, 0%, 100%) 100%);
  max-width: 450px;
  height: 150px;
  width: 100%;
  border-radius: 30px;
  border: none;
}
.ask-for-service-section .ask-for-service-card .card-body {
  height: 100%;
}
.ask-for-service-section .ask-for-service-card .card-body p {
  margin: 0;
  font-size: 2.5rem;
}
.ask-for-service-section .ask-for-service-card .card-body p img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 66px;
}

.who-we-are-section {
  position: relative;
  height: 100%;
}
.who-we-are-section .custom-card-for-who-are-we {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 887px;
  margin: 0 auto;
  border-radius: 30px;
}
.who-we-are-section p {
  margin: 0 auto;
  max-width: 1039px;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 2.5rem !important;
}
.who-we-are-section .absolute-img img {
  position: absolute;
  bottom: 0;
}
.who-we-are-section .absolute-img .left-bottom {
  left: 0;
}
.who-we-are-section .absolute-img .right-bottom {
  right: 0;
}
.who-we-are-section .img-size {
  width: 70px;
}
.who-we-are-section .img-section img {
  width: 400px;
}

.manager-speech p {
  max-width: 1039px;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 2.5rem !important;
}

.ask-for-service-section {
  min-height: 20vh;
}

/*
Footer
*/
.footer-nav .logo,
.footer-nav .text-container {
  margin: 0 auto;
}
.footer-nav ul li a {
  font-size: 1.5rem;
}

.footer {
  background-color: #f5f5f5;
  margin: 0;
  padding-block: 1rem;
}

.golden-line {
  width: 1px;
  height: 100px;
  background-color: #b19e7f;
}

.ethics-section ul li {
  font-size: 1.5rem;
  font-family: "Cairo Regular", sans-serif;
  margin-block: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
}
.ethics-section .customStyle-card {
  background-color: #f5f5f5;
  border-radius: 30px;
  text-align: center;
}
.ethics-section .customStyle-card .ethics-img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}
.ethics-section .info-icons {
  width: 40px;
}

.card-border-radius {
  border-radius: 15px;
}