*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  direction: rtl;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
}

/* Remove list styles (bullets/numbers) */
ul, menu, summary {
  list-style: none;
}

a, a:active {
  color: black;
  text-decoration: none !important;
}

a:hover {
  color: black;
}

.black {
  color: black;
}